extends layout 
block content
  h1 Welcome to your feed, #{username}

  label(for='content')
    textarea#content
    button#contentBtn Post
  section#feed-container
    h2 Your Feed
    ul#posts-list
      li No posts yet.
  script(src='/js/feed.js')
  script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.7/axios.min.js")
