doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/css/style.css")
  body
    nav
      a(href='/') Home
      a(href='/users') Users
      a(href='/user/login') Login
      a(href='/user/register') Register
      a(href='/posts') All Posts
      a(href='/feed') Feed

    .container
      block content

    footer
      p © 2024 Your Website. All Rights Reserved.
