extends layout

block content
  h1= title
  form#form
    label(for="email") Email:
    input#email(type="email" name="email" required)
    
    label(for="password") Password:
    input#password(type="password" name="password" required)
    
    button(type="submit") Log In

  p
    | Don't have an account? 
    a(href="/user/register") Register here
  script(src='/js/login.js')
  script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.7/axios.min.js")

  
